@page "/recipeslist"
@using CookingRecipesSystem.Shared.ViewModels
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<PageTitle>Recipes list</PageTitle>

<h1>Recipes list</h1>

@if (recipesList == null)
{
  <div>Loading...</div>
}
else 
{
  @foreach (var recipe in recipesList!)
  {
    <div>
      <h3>@recipe.Title</h3>
      <div>@recipe.Content</div>
      <div>@recipe.Author</div>
    </div>
  }
}

@code {
  private RecipeViewModel[]? recipesList;

  protected override async Task OnInitializedAsync()
  {
    try
    {
      recipesList = await Http.GetFromJsonAsync<RecipeViewModel[]>("api/Recipes");     
    }
    catch (AccessTokenNotAvailableException exception)
    {
      exception.Redirect();
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
    }
  }
}
